
.ui.form{
    .field{
        .ui.input{

            input{
                background-color: $background-secondary;
                border-color: $background-secondary;
                color: $font-light;

                &:hover, // Sombrear el elemento
                &:focus, // Estar sobre el elemento
                &:active // Clickear el elemento
                {
                    background-color:$background-secondary;
                }


            }

            i {
                color: $font-light;
            }
        }

        .button {

            text-transform: uppercase;
            border-radius: 50px;
            letter-spacing: 3px;
        }
    }
}



