@import "../../../scss/index.scss"; /* Estilos generales  */


.register-form{
    
    margin-top: 50px;

        >h1{
            color: $font-light;
            text-align: center;
            font-size: 35px;
            padding-bottom: 20px;
        }

        button{
            // Pendiente de estilos propios del register form.
        }

    &__options{

        margin-top: 50px;
        font: size 50px;
        color: $font-light;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;     

        p{
            &:first-of-type{

                margin-bottom: 40px;
                cursor: pointer;
            }
            &:last-of-type{

                span{

                    color: $font-grey;
                    cursor: pointer;
                    text-decoration: underline;
                    padding-left: 5px;
                }
            }
        }
    }
}

.form-field{
    /* margin-top: 5px; */
}


